:root {
  --header-height: 64px;
  --footer-height: 56px;
  --body-height: calc(100% - var(--header-height) - var(--footer-height));
  --bodycontent-height: calc(100% - var(--footer-height));
}

#root,
html,
body,
.App {
  height: 100%;
  margin: 0;
}

header {
  height: var(--header-height);
}

.MuiBottomNavigation-root {
  height: var(--footer-height);
}

.BodyContainer {
  height: var(--body-height);
}

.MuiTableRow-hover {
  cursor: pointer;
}

.BodyContainer .MuiGrid-container {
  height: var(--bodycontent-height);
}

.BodyContainer .MuiPaper-root {
  height: var(--bodycontent-height);
}

.MuiTableHead-root .MuiTableCell-head {
  font-weight: 700;
  padding: 0%;
}