#root,
html,
body,
.App {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.BodyContainer {
  display: flex;
  flex-direction: column;

  flex: 1 0 auto;
}

/* header {
  height: var(--header-height);
}

.MuiBottomNavigation-root {
  height: var(--footer-height);
}

.BodyContainer {
  height: var(--body-height);
}

.MuiTableRow-hover {
  cursor: pointer;
}

.BodyContainer .MuiGrid-container {
  height: var(--bodycontent-height);
}

.BodyContainer .MuiPaper-root {
  height: var(--bodycontent-height);
}

.MuiTableHead-root .MuiTableCell-head {
  font-weight: 700;
  padding: 0%;
} */